:root {
    --light-orange-colour: #FEFCFB;
    --light-blue-colour: #F7F8FC;
    --orange-colour: #FA7436;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    padding: 13px 49px;
    border-radius: 5px ;
    color: #fff;
    display: inline-block;
    font-weight: 450;
    font-size: 16px;
    position: relative;
}

.btn.dark {
    background-color: var(--orange-colour);
    position: relative;
    box-shadow: 0px 8px 24px #FFE7DB;
}

.btn.light.discover-icon{
    display: inline-block;
    padding: 10px;
    border:1px solid #FA7436;
    border-radius: 5px;
    background-color: #fff;
    color: #FA7436;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
}
.btn.dark.explore-icon{
    border-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px; 
    text-align: center;
    width: 165px;
    height: 60px;
    padding: 0;
    margin-bottom: 0;
}
.btn.hover-book{
    background-color: #FA7436;
    padding: 9px 21px;
    position: absolute;
}
.btn.dark.subscribe{
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
}
.btn.arrow-left{
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    border:2px solid #999999;
    background-color: #fff;
    color: #999999;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
.btn.arrow-left:hover{
    border:2px solid #FA7436 ;
    background-color: #fff;
 
}
.btn.arrow-right{
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    border:2px solid;
    background-color: #FA7436;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative
}
.btn.arrow-right:hover{
    border:2px solid #FA7436 ;
    background-color: #FA7436;
 
}

/*header*/
header{
    background-color: var(--light-orange-colour);
    height: 999px;;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 114px;
    z-index: 100;
    margin-left: 0px;
    
}
nav.logo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
    align-items: center;

}
nav .logo {
    font-family: "Volkhov" ,sans-serif;
    font-weight:bold;
    font-size: 24px;
    line-height: 24px;
    color: #222222;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    height: 24px;
    list-style: none;
    margin: 0 auto; 
    
}
nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #222222;
}
nav ul li a p{
    font-size: 16px;
    font-weight: 600;
    color: #FA7436;
    transform: translateX(100px);
}
nav ul li a:last-child{
    transform: translateX(110px);
}

.hero-section{
    display:flex ;
    align-items: center;
    justify-content:center;
    height:885;
    width:100%;
    gap: 25px;
    top: 0;
    position: relative;
    margin-top: 16px;
}
.hero-section .left{
    margin:0;
    width: 521px;
    height: 568px;
    margin-top: 96px;
    margin-left: 30px;
}
.hero-section .left h3{
    font-family: "volkhov", sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
    width: 521px;
    height: 210px;
    margin-top: 0;
    margin-bottom: 30px;
}
.hero-section .left p{
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
    width: 497px;
    height: 120px;
    color: #666666;
}
.hero-section .left a{
    margin-top: 40px;
    width: 178px;
    height: 60px;
}
.hero-section .right{
    width: 785px;
    height: 567px;
    position: relative;
    padding-left: 20px;
    margin-top: -90px;
}
.hero-section .right .flight img{
    margin-left:-50px;
    width: 785px;
    height: 191px;
}
.hero-section .right .hero img{
     width: 500px;
     height: 530px;
     position: absolute;
     padding-left: 0px;
     top: 20px;
     margin-left: 110px;

}
.achievement-cards{
    position: absolute;
    min-width: 200px;
    color: #444444;
}

.achievement-cards .content{
    border-radius: 10px;
    background-color: #FFFFFF;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    gap: 15px;
    box-shadow:  0px 9px 32px rgba(0,0,0,0.2)
}
.achievement-cards .award{
    left: 40px;
    bottom: -20px;
    width: 150px;
}
.achievement-cards .explore{
    left: 439px;
    top: 70px;
    width: 173;
}
.achievement-cards .ratings{
    left:100px;
    top: 215px;
}
.achievement-cards .content .div1 {
    display: grid;
    align-items: center;
    grid-template-columns: auto;

}
.achievement-cards h3{
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 0;
    width: 75px;
    text-align: start;
    margin: 0;
}
.achievement-cards img{
    flex-basis: 16px;
    flex: 1;
    width: 32px;
    height: 32px;
    align-items: center;
}
.achievement-cards p{
    font-weight: normal;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 12px;
    text-align: start;
}
.search-bar{
    flex-direction: column;
    position: absolute;
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    bottom: -270px;
    margin-left: 40px; 
    transform: translateY(-200px);
    border-radius: 12px;
    box-shadow: 0px 8px 32px rgba(0, 0,0,0.1);
}
.search-bar .location label {
    font-size: 16px;
    color: #222222;
    font-weight: 500 ;

}
.search-bar .location p {
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    width: 126px;

}
.search-bar .location select {
    border:20px #fff;
    color: #FA7436;
    font-weight: 400;
    width: 20px;

}
.search-bar .date label {
    font-size: 16px;
    color: #222222;
    font-weight: 500 ;

}
.search-bar .date p {
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    width: 126px;

}
.search-bar .date select {
    border:20px #fff;
    color: #FA7436;
    font-weight: 400;
    width: 20px;

}
.search-bar .date label {
    font-size: 16px;
    color: #222222;
    font-weight: 500 ;

}
.search-bar .guest p {
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    width: 126px;

}
.search-bar .guest select {
    border:20px #fff;
    color: #FA7436;
    font-weight: 400;
    width: 20px;

}
span{
    color: #FA7436;
}
/* hero section completed*/
.things-need {
    background-color: var(--light-blue-colour);
    height: 724px;
    margin-top: -10px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.things-need .content{
    display: flex;
    justify-content: center;
    gap: 40px;
    top: 0;
    position: relative;
}
.things-need .content h3{
    font-family: "Volkhov" ,sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    margin: 0;
    margin-left: 100px;
}
.things-need .content p{
    width: 502px;
    height: 64px;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    margin-top: 10px;
    margin-left: 120px;
    line-height: 32px;
}
.things-need .content img{
    width: 180px;
    height: 130px;
    margin-left: 50px;
}
.access-cards {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    bottom: 0;
    height: 278px;
}

.access-cards .signup{
    width: 370px;
    height: 278px;
    display: grid;
    gap: 50px;
    position: relative;
    background-color: #FFFFFF;
    padding: 32px;
    margin: 0;
    z-index: 100;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.2);
}
.access-cards .signup .bg{
    position: absolute;
    z-index: -1;
}
.access-cards .signup a{
    text-decoration: none;
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
.access-cards .signup p{
    color: #666666;
    text-align: start;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}
.access-cards .money{
    width: 370px;
    height: 278px;
    display: grid;
    gap: 40px;
    position: relative;
    background-color: #FFFFFF;
    padding: 32px;
    margin: 0;
    z-index: 100;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.2);
}
.access-cards .money .bg{
    position: absolute;
    z-index: -1;
}
.access-cards .money a{
    text-decoration: none;
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
.access-cards .money p{
    color: #666666;
    text-align: start;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}
.access-cards .travel{
    width: 370px;
    height: 278px;
    display: grid;
    gap: 40px;
    position: relative;
    background-color: #FFFFFF;
    padding: 32px;
    margin: 0;
    z-index: 100;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.2);
}
.access-cards .travel .bg{
    position: absolute;
    z-index: -1;
}
.access-cards .travel a{
    text-decoration: none;
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
.access-cards .travel p{
    color: #666666;
    text-align: start;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}
/*things need completed*/

/*deals & discount*/
.deals-discount{
    background-color: var(--light-orange-colour);
    margin-top: -20px;
    width: 100%;
    height: 960px;
    padding: 60px 0px;
}
.deals-discount .content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 0;
}
.deals-discount .content h3{
    font-family: "volkhov",sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 54px
}
.deals-discount .content p{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #666666;
    margin-top: -20px;
}
.place-cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.place-cards .hover{
    width:270px;
    height: 290px;
    display: grid;
    position: relative;
    z-index: 5;
}
.place-cards .hover img{
    z-index: 7;
}
.place-cards .hover a{
    position: absolute;
   margin-left: 70px;
   margin-top: 200px;
   border: 0px #FA7436;
   cursor: pointer;
   z-index: 6;
}
.place-cards .hover img:hover {
      z-index: 5;
      opacity: 0.7;
}
.place-cards .madrid{
    display: grid;
    background-color:  #FEFCFB;
    border-radius: 8px;
    width: 270px;
    height: 426px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.place-cards .madrid:hover{
    box-shadow: 0 8px 20px #FFE7DB;
}
.place-cards .firence{
    display: grid;
    background-color:  #FEFCFB;
    border-radius: 8px;
    width: 270px;
    height: 426px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.place-cards .firence:hover{
    box-shadow: 0 8px 20px #FFE7DB;
}
.place-cards .paris{
    display: grid;
    background-color:  #FEFCFB;
    border-radius: 8px;
    width: 270px;
    height: 426px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.place-cards .paris:hover{
    box-shadow: 0 8px 20px #FFE7DB;
} 
.place-cards .london{
    display: grid;
    background-color:  #FEFCFB;
    border-radius: 8px;
    width: 270px;
    height: 426px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.place-cards .london:hover{
    box-shadow: 0 8px 20px #FFE7DB;
}
.place-cards .spot-rating{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin-left: 15px;
    margin-top: -30px;
}
.place-cards .spot-rating div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -30px;
}
.place-cards .location-logo{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin-top: -50px;
}
.place-cards .location-logo div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.place-cards h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    color: #222222;
}
.place-cards p{
    font-size: 16px;
    color: #666666;
    line-height: 20px;
}
.place-cards .previous-price{
    text-decoration: line-through;
}
.place-cards .current-price{
    font-weight: 700;
    color: #FA7436;
    border-radius: 8px;
    width: 52px;
    height: 28px;
    text-align: center;
    padding-top: 3px;
    background-color: #FFE7DB;
}
.slide-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
}
.slide-button .btn.arrow{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
/*deals & discount completed*/
.vacation-plan{
    width: 100%;
    height: 893px;
    background-color: var(--light-orange-colour);
    margin-top: -20px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.vacation-plan .content{
    display: flex;
    justify-content: center;
    gap: 40px;
    top: 0;
    position: relative;
}
.vacation-plan .content h3{
    font-family: "Volkhov" ,sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    text-align: center;
    margin: 0;
    margin-left: 100px;
}
.vacation-plan .content p{
    width: 521px;
    height: 64px;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;
    line-height: 32px;
}
.vacation-plan .content img{
    width: 105px;
    height: 81px;
    margin-left: -20px;
}
.vacation-plan .btn-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;
    margin-left: 980px;
}
.trip-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.trip-cards .trip-italy{
    display: grid;
    background-color: #FFFFFF;
    width: 370px;
    height: 447px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0,0,0.1);
}
.trip-cards .trip-italy:hover{
    box-shadow: 0px 8px 32px #FFE7DB ;  
}
.trip-cards .trip-london{
    display: grid;
    background-color: #FFFFFF;
    width: 370px;
    height: 447px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0,0,0.1);
}
.trip-cards .trip-london:hover{
    box-shadow: 0px 8px 32px #FFE7DB ;  
}
.trip-cards .trip-osakajapan{
    display: grid;
    background-color: #FFFFFF;
    width: 370px;
    height: 447px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0,0,0.1);
}
.trip-cards .trip-osakajapan:hover{
    box-shadow: 0px 8px 32px #FFE7DB ;  
}
.trip-cards .place-cost{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 100px; 
    margin-top: -20px; 
}
.place-cost h4{
    font-size: 24px;
    font-family: "poppins" ,sans-serif;
    font-weight: 500;
}
.place-cost p{
    font-size: 24px;
    font-weight: 600;
    color: #FA7436;
}
.trip-cards .trip-days{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.trip-cards .trip-days .package{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: 0px;
}
.package p{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    padding-left: 10px;
}
.trip-cards .trip-days .trip-days-rating {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -50px;
    margin-left: 50px;
}
.trip-days-rating p{
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}
/*vacation plan completed*/
.testimonial-section{
    width: 100%;
    height: 596px;
    background-color: var(--light-blue-colour);
    
}
.testimonial-section .testimonial-block{
    width: 100%;
    height: 596px;
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.testimonial-block .flight{
    position: absolute;
    width: 169px;
    height: 188px;
    margin-left: 1080px;
    margin-top: -280px;
}
.testimonial-block .about-card{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.testimonial-block .about-card .testimonial-left{
    width: 394px;
    height: 268px;
    display: grid;
    grid-template-rows: auto auto auto;
    margin-top: -150px;
    margin-bottom: 0px;
}
.testimonial-left h3{
    text-align: start;
    font-family: "volkhov",sans-serif;
    font-size: 48px;
    font-weight: bold ;
    line-height: 54px;
}
.testimonial-left p{
    text-align: start ;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    margin-top: -20px;
    width: 414px;
    color: #666666;
}
.testimonial-left .btn-arrow{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-top: 10px;
}
.testimonial-section .about-card .testimonial-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 541px;
    height: 279px;
    margin-top: -150px;
}
.testimonial-right .testimonial-cards{
    width: 541px;
    height: 245px;
    margin-top: 36px;
    margin-left: 36px;
    position: relative;
}
.testimonial-right .profile-logo{
    position: absolute; 
    width: 68px; 
    height: 68px;
    margin-top: -36px;
    margin-left: -36px;
}
.testimonial-cards .testimonial-card-1{
    width: 504px;
    height: 245px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(0, 0,0,0.1);
    border-radius: 10px;
    margin-top: 20px;
    z-index: 11;
}
.testimonial-card-1 .content{
    width: 402px;
    height: 96px;
    margin-top: 36px;
    margin-left: 34px;
    padding-top: 20px;
}
.testimonial-card-1 .content p{
    font-size: 16px;
    font-weight: 300;
    color: #444444;
    text-align: start;
    line-height: 28px;
}
.testimonial-card-1 .info {
    width: 120px;
    height: 50px;
    margin-left: 34px;
    margin-top: 34;
    padding-top: 40px;
}
.testimonial-card-1 .info h3{
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}
.testimonial-card-1 .info p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-top: -5px;
}
.testimonial-cards .testimonial-card-2{
    width: 504px;
    height: 245px;
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.4;
    box-shadow: 0px 8px 32px rgba(0, 0,0,0.3);
    border-radius: 10px;
    z-index: -1;
    margin-top: -160px;
    margin-left: 54px;
}
.testimonial-card-2 .content{
    width: 504px;
    height: 96px;
    margin-top: 31px;
    margin-left: 34px;
}
.testimonial-card-2 .content p{
    font-size: 16px;
    font-weight: 300;
    color: #444444;
    text-align: start;
    line-height: 28px;
    margin-top: -60px;
}
.testimonial-card-2 .info {
    width: 140px;
    height: 50px;
    margin-left: 34px;
    margin-top: 34px;
}
.testimonial-card-2 .info h3{
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}
.testimonial-card-2 .info p{
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-top: -5px;
}
/*testimonial part completed*/
.blog-section{
    width: 100%;
    height: 805px;
    background-color: var(--light-orange-colour);
    margin-top: -20px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.blog-section .content{
   align-items: center;
   justify-content: center;
}
.blog-section h2{
    width: 646px;
    height: 54px;
    font-family: "Volkhov" ,sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    margin-bottom: 70px;
}
.blog-section .blogs{
    width: 270px;
    height: 388px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-left: -260px;
}
.blogs h4{
    width: 244px;
    height: 52px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #222222;
}
.blogs p{
    font-family: "Inter" ,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #999999;
    margin-top: -15px;
}
.blog-section .content .slider{
    width: 54px;
    height: 14px;
    margin-left: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider .elipse1{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;
}
.slider .elipse2{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: #FA7436;
}
/*blogs section completed*/
.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0;
    background-color: var(--light-blue-colour);
}
.footer-section .subscribe-us{
    width: 1170px ;
    height: 416px;
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #FA7436;
    z-index: 1;
}
.subscribe-us .tree{
    position: absolute;
    margin-left: 890px;
    margin-top: -20px;
    z-index: 2;
}
.subscribe-us .design{
    position: absolute;
    margin-top: -335px;
    margin-left: -150px;
    z-index: 4;
}
.subscribe-us .email{
    width: 708px;
    height: 256px;
    margin-left: 140px;
    z-index: 5;
}
.email h3{
    font-family: "Volkhov" ,sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    margin-top: -30px;
}
.email .input{
    width: 674px;
    height: 68px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;
    margin-top: 70px;
    margin-left: 10px;
}
.email .input div{
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 0px;
}
.email .input input{
    border: 0px;
    text-align: start;
    color: #999999;
    font-family: "poppins" , sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.footer-section .footer-links{
    width: 100%;
    height: 688px;
    bottom: 0;
    margin-top: 310px;
}
.footer-section .quick-links{
    width: 100%;
    height: 688px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
    margin-left: 120px;
    margin-bottom: -130px;
}
.quick-links .links-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin-left: 300px;
    width: 598px;
    height: 210px;
}
.links-container .links{
    grid-template-columns: 1fr 1fr 1fr;
    width: 140px;
    height: 210px;
    margin-top: -150px;
}
.links ul li a{
    text-decoration: none;
    font-size: 18px;
    text-align: start;
    font-weight: normal;
    color: #666666;
    margin-left: -40px;

}
.links ul li{
    margin-top: 20px;
}
.links ul{
    list-style: none;
}
.links h3{
    font-size: 18px;
    font-weight: 600;
}
.quick-links .social{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 254px;
    height: 176px;
    margin-top: -190px;
    margin-left: -180px;
}
.social .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social h4{
    font-family: "Volkhov" ,sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}
.social p{
    font-size: 16px;
    font-weight: 500;
    font-family: "poppins" ,sans-serif;
    color: #666666;
    margin-top: 10px;
}
.social .social-links{
    width: 176px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links .fb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
.social-links .fb img{
    margin-left: 15px;
    margin-top: 13px;
}
.social-links .insta img{
    margin-left: 12px;
    margin-top: 12px;
}
.social-links .insta{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FA7436;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
.footer-links .copy-right{
    width: 100%;
    margin-top: -300px;
}
.footer-links .copy-right{
    width: 100%;
    height: 160px;
    margin-top: -170px;
    bottom: 0;
}
.copy-right .terms{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 650px;
    margin-left: -20px;
}
.terms p{
        font-size: 16px;
        font-weight: normal;
        color: #666666 ;
}
.terms a{
    text-decoration: none;
    color: #666666;
}
.terms ul li{
    list-style: none;
}
/*footer part done*/

/*media queries*/
@media (max-width:1200px) {
    .wrapper{
        padding:0 10px
    }
    .btn{
        padding: 16px 32px;
    }
    .nav{
        width: 1024;
        left: 0;
        right: 0;
        padding: 36px 200px;
    }
   
    nav ul li a p{
        transform: translateX(30px);
    }
    nav ul li a:last-child{
        transform: translateX(50px);
    }
    header,
    .wrapper{
        height: auto;
        margin: 0;
    }
    .hero-section{
        display: grid;
        height: 1400px;
        gap: 0;
    }
    .hero-section .left{
        margin-left: 50px;
        margin-top: -300px;
        height: 400px;
    }
    .hero-section .right{
        margin-left: 0px;
        margin-top: -600px;
    }
     .search-bar{
        margin-left: 50px;
        transform: translateY(-400px);   
    }
     .things-need{
        padding: 0;
        width: 100%;
        height: 1200px;
    }
    .things-need .content{
        height: 200px;
        align-items: center;
        justify-content: center;
        margin-left: -50px;
    }
    .things-need .content img{
        transform: translateX(-80px);
    }
    .things-need .access-cards{
        grid-template-columns: auto;
    }
    .deals-discount{
        width: 100%;
        height: 1300px;
    }
    .deals-discount .place-cards{
        grid-template-columns: auto auto;
    }
    .vacation-plan{
        width: 100%;
        height: 1300px;
    }
    .vacation-plan .trip-cards{
        grid-template-columns: auto auto;
    }
    .vacation-plan .btn-arrow{
        align-items: center;
        margin-left: 400px;
        transform: translateY(700px);
    }
    .testimonial-section {
        width: 100%;
        height: 1000px;
    }
    .testimonial-section .testimonial-block{
        width: 100vh;
        height: 1000px;
    }
   .testimonial-block .about-card{
    grid-template-columns: auto;
    gap: 250px;
    margin-left: 200px;
   }
   .testimonial-block .flight{
    margin-left: 900px;
    margin-top: 0px;
   }
   .blog-section{
    width: 100%;
    height: 1200px;
   }
   .blog-section .content{
    margin-top: -500px;
   }
   .blog-section .blogs{
    grid-template-columns: auto auto;
    margin-left: 40px;
   }
   .blog-section .slider{
    transform: translateY(500px);
   }
   .footer-section {
    width: 100%;
    height: 1000px;
   }
   .footer-section .subscribe-us{
    width: 900px;
    margin-top:100px;
    margin-left: 50px;
    overflow: hidden;
   }
   .footer-section .tree{
    margin-left: 740px;
   }
   .footer-section .email{
    margin-left: 50px;
   }
   .footer-links{
    margin-top: 0;
   }
   .footer-links .quick-links {
    grid-template-columns: auto auto;
    margin-left: -50px;
    margin-top: 400px;
    gap: 0px;
   }
   .quick-links .social{
    margin-left: 180px;
   }
   .quick-links .links-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
   }
   .copy-right .terms{
    gap: 300px;
   }
}
/*max-width 1024*/
@media (max-width:768px){
    .wrapper{
        padding:0 10px
    }
    .btn{
        padding: 4px 8px;
    }
    .nav{
        width: 924;
        left: 0;
        right: 0;
        padding: 36px 0px;
    }
    nav ul{
        margin-left: 0px;
    }
    nav ul li a p{
        transform: translateX(10px);
    }
    nav ul li a:last-child{
        transform: translateX(20px);
    }
    header,
    .wrapper{
        height: max-content;
        width: 100%;
        margin: 0;
    }
    .hero-section{
        height: 1100px;
    }
    .hero-section .left{
        width: 100%;
        height: 350px;
        margin-top: -250px;
        padding: 0 10px;
    }
    .hero-section .left h3{
        font-size: 36px;
        width: 100%;
        height: 105px;
    }
    .hero-section .left p{
        width: 568px;
        height: 100px;
    }
    .hero-section .left div{
        margin-top: -50px;
    }
    .hero-section .right{
        width: 100%;
        margin-top: -600px;
        margin-left: 0px;
    }
    .hero-section .right .flight img{
        width: 750px;
        height:150px ;
    }
    .hero-section .search-bar{
        margin-left: 0px;
        padding: 20px;
        width: 750px;
        height: 105px;
        transform: translateY(-400px);
    }
    .things-need .content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        gap: 5;
        width: 100%;
    }
    .things-need .content h3{
        margin-left: 0;
        width: 500px;
        font-size: 40px;
        text-align: center;
        margin-left: 40;
    }
    .things-need .content p{
        margin-left: 0;
    }
    .testimonial-section{
        height: 900px;
    }
    .testimonial-block .flight{
        margin-left: 700px;
        margin-top: -200px;
    }
    .testimonial-block .about-card {
        margin-top: -200px;
    }
    .blog-section{
        height: 1200px;
    }
    .blog-section .content{
        margin-top: -500px;
    }
    .footer-section{
        height: 1000px;
    }
    .footer-section .subscribe-us{
        margin-top: -50px;
        width: 700px;
        height: 316px;
        margin-left: 25px;
    }
    .footer-section .tree{
        margin-left: 600px;
    }
    .subscribe-us .email{
        margin-left: 20px;
    }
    .email h3{
        width: 500px;
        height: 100px;
        font-size: 36px;
        align-items: center;
        margin-left: 100px;
        margin-bottom: 0;
        margin-top: 30px;
    }
    .email .input{
        margin-top: 10px;
    }
    .footer-section .footer-links{
        margin-top: -200px;
    }
    .footer-links .quick-links{
        grid-template-columns: auto;
        margin-top: 100;
    
    }
    .quick-links .social{
        margin-top: -80px;
        margin-left: 250px;
    }
    .quick-links .links-container{
        margin-top: -100px;
        margin-left: 100px;
    }
    .copy-right .terms{
        margin-top: 30px;
        gap: 100px;
    }
}
/*max -width 768 completed*/
@media (max-width:425px){
    .wrapper{
        padding:0 10px
    }
    .btn{
        padding: 4px 8px;
        width: 80px;
    }
    .nav{
        display: grid;
        grid-template-columns: auto;
        width:100%;
        left: 0;
        right: 0;
        padding: 1px 0px;
    }
    nav .logo{
        font-size: 10px;
        margin-left: 10px;
    }
    nav ul{
        gap: 10px;
        margin-left: -30px;
    }
    nav ul li a{
        font-size: 8px;
    }
    nav ul li a p{
        font-size: 12px;
        transform: translateX(0px);
    }
    nav ul li a:last-child{
        transform: translateX(0px);
    }
    header,
    .wrapper{
        height: max-content;
        width: 100%;
        margin: 0;
    }
    .hero-section{
        height: 1400px;
        gap: 0;
    }
    .hero-section .left{
        width: 355px;;
        height: 350px;
        margin-top: -350px;
        margin-left: 0px;
        padding: 0 10px;    
    }
    .hero-section .left h3{
        font-size: 20px;
        width: 350px;
    }
    .hero-section .left p{
        width: 355px;
        height: 120px;
    }
    .hero-section .right{
        width: 355px;
        margin-top: -650px;
        height: 650px;
    }
    .hero-section .right .flight img{
        width: 345px;
        height: 117px;
    }
    .hero-section .right .hero img{
        margin-left: -10px;
        width: 355px;
        height: 390px;
    }
    .achievement-cards{
        width: 150px;
    }
    .achievement-cards .award{
        transform: translateY(80px);
        width: 150px;
    }
    .achievement-cards .award .content{
        transform: translateX(-60px);
        gap: 0;
    }
    .achievement-cards .explore{
        transform: translateY(50px);
        width: 150px;
    }
    .achievement-cards .explore .content{
        transform: translateX(-270px);
        gap: 0;
    }
    .achievement-cards .ratings{
        transform: translateY(20px);
        width: 150px;
    }
    .achievement-cards .ratings .content{
        transform: translateX(-110px);
        gap: 0;
    }
    .hero-section .search-bar{
        grid-template-columns: auto;
        width: 345px;
        height: 400px;
        margin-left: 10px;
        transform: translateY(-350px);
    }
    .things-need {
        height: 1300px;
    }
    .things-need .content{
        width: 355px;
        height: 300px;
    }
    .things-need .content div{
        width: 355px;
        height: 300px;
        margin-left: 30px;
    }
    .things-need .content img{
        display: none;
    }
    .things-need .content h3{
        width: 355px;
        text-align: start;

    }
    .things-need .content p{
        width: 355px;
        text-align: start;
    }
    .deals-discount {
        height: 2400px;
    }
    .deals-discount .content{
        width: 355px;
    }
    .deals-discount .content h3{
        font-size: 32px;
    }
    .deals-discount .content p{
        height: 100px;
        text-align: start;
    }
    .deals-discount .place-cards{
        grid-template-columns: auto;
    }
    .deals-discount .slide-button{
        width: 355px;
        height: 100px;
        transform: translateX(-50px);
        margin-top: 50px;
    }
    .vacation-plan {
        height: 1800px;
        width: 100%;
        margin-top: 0px;
    }
    .vacation-plan .content{
        width: 355px;
        height: 250px;
        margin-top: -100px;
    }
    .vacation-plan .content img{
        display: none;
    }
    .vacation-plan .content div{
        width: 355px;
    }
    .vacation-plan .content h3{
        margin-left: 0;
        font-size: 32px;
    }
    .vacation-plan .content p{
        margin-left: 0;
        width: 355px;
        font-size: 16px;
        padding-left: 20px;
        text-align: start;
    }
    .vacation-plan .btn-arrow{
      transform: translateX(-200px);
    }
    .vacation-plan .trip-cards{
        grid-template-columns: auto;
    }
    .testimonial-section {
        width: 100%;
        height: 1000px;
    }
    .testimonial-section.testimonial-block{
        width: 355px;
    }
    .testimonial-block .flight{
        display: none;
    }
    .testimonial-block .about-card {
        width: 355px;
        height: 1000px;
        margin-left:0;
        margin-top: 0;
        gap: 0;
    }
    .about-card h3{
        width: 355px;
        margin-left: -20px;
    }
    .about-card p{
        width: 355px;
        margin-left: -20px;
    }
    .about-card .btn-arrow{
        margin-top: 50px;
        margin-left: 50px;
    }
    .testimonial-block .testimonial-left{
        margin-left: -30px;
    }
    .testimonial-block .testimonial-right{
        width: 345px;
        margin-left:-200px ;
    }
    .testimonial-right .testimonial-cards{
        width: 305px;
    }
    .testimonial-cards .testimonial-card-1{
        width: 305px;
    }
    .testimonial-cards .testimonial-card-2{
        width: 305px;
        margin-left: 20px;
    }
    .testimonial-cards .testimonial-card-1 .content {
        width: 255px;
        height: 100px;
    }
    .blog-section{
        width: 100%;
        height: 2000px;
        margin-top: 0;
    }
    .blog-section .content{
        width: 365px;
        height: 1900px;
        margin-top: 0;
    }
    .blog-section .content h2{
        width: 355px;
        height: 108px;
        font-size: 36px;
    }
    .blog-section .content .blogs{
        grid-template-columns: auto;
    }
    .blog-section .content .slider{
        display: none;
    }
    .footer-section{
        width: auto;
        height: 1600px;
    }
    .footer-section .subscribe-us{
        width: 355px;
        margin-top: -470px;
        margin-left: 5px;
    }
    .footer-section .tree{
        margin-left: 250px;
    }
    .footer-section .design{
        margin-left: -50px;
        margin-top: -190px;
        height: 200px;
    }
    .subscribe-us .email{
        width: 355px;
        height: 320px;
        margin-left: 0;
    }
    .email h3{
        margin-left: 0;
        font-size: 20px;
        width: 300px;
    }
    .email .input{
        width: 330px;
        gap: 0;
    }
    .footer-section .footer-links{
        width: 355px;
        height: 700px;
        margin-top: -40px;
        margin-left: -30px;
    }
    .footer-links .quick-links{
        height: 700px;
        margin-top: -50px;
    }
    .footer-links .links-container{
        grid-template-columns: auto;
        width: 350px;
        height: 650px;
        margin-top: 100px;
        margin-left: 300px;
    }
    .footer-links .copy-right{
        margin-top: 200px;
        margin-left: 50px;
    }
    .copy-right .terms{
        display: grid;
        grid-template-columns: auto;
        width: 360px;
    }
}
/*mobile large & mediaum device media queries done*/
/*
@media(min-width:1441px){
    header,
    .wrapper{
    width: 2560px;
    height: auto;
}
.btn{
    padding: 16px 64px;
}

.nav{
    width: auto;
    height: 150px;
    left: 0;
    right: 0;
}
nav .logo {
    font-size: 48px;
    width: 500px;
    height: 30px;
    margin-right: 50px;
}
nav .logo img{
    width: 50px;
}
nav ul{
    margin-left: 200px;
}
nav ul li a{
    font-size: 32px;
}
nav ul li a p{
    font-size: 48px;
    transform: translateX(100px);
}
nav ul li a:last-child{
    font-size: 48px;
    width: 350px;
    transform: translateX(200px);
}
.hero-section{
    height: 1200px;
    gap: 200px;
}
.hero-section .left{
    margin-left: 50px;
    margin-top: 0;
    width: 1000px;
    height: 700px;
}
.hero-section .left h3{
    font-size: 70px;
    width: 700px;
    height: 240px;
}
.hero-section .left p{
    font-size: 36px;
    width: 700px;
    height: 240px;
}
.hero-section .left .btn.light{
    width: 300px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    padding: 30px 0px;
}
.hero-section .right{
    width: 965px;
    height: 767px;
    margin-left: 0px;
    margin-top: 0;
}
.hero-section .right .flight{
    width: 945px;
    margin-top: -200px;
}
.hero-section .right .flight img{
    width:1205px;
    height: 500px;
}
.hero-section .right .hero{
    width: 945px;
    margin-top: -200px;
}
.hero-section .right .hero img{
    width: 700px;
    height: 730px;
}
.achievement-cards{
    position: absolute;
    min-width: auto;
    color: #444444;
}

.achievement-cards .content{
    border-radius: 20px;
    background-color: #FFFFFF;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 120px;
    gap: 15px;
    box-shadow:  0px 9px 32px rgba(0,0,0,0.2)
}
.achievement-cards .award{
    left: -130px;
    bottom: -220px;
    width: 150px;
}
.achievement-cards .explore{
    left: 539px;
    top: 220px;
    width: 273;
}
.achievement-cards .ratings{
    left:-50px;
    top: 415px;
}
.achievement-cards h3{
    font-weight: 600;
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 0;
    width: 175px;
    text-align: start;
    margin: 0;
}
.achievement-cards img{
    flex-basis: 16px;
    flex: 1;
    width: 64px;
    height: 64px;
    align-items: center;
}
.achievement-cards p{
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    text-align: start;
}
 .search-bar{
    margin-left: 50px;
    width: 1200px;
    height: 157px;
    transform: translateY(-300px);   
}
.search-bar .location label {
    font-size: 24px;
    color: #222222;
    font-weight: 500 ;

}
.search-bar .location p {
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    width: 250px;

}
.search-bar .date label {
    font-size: 24px;
    color: #222222;
    font-weight: 500 ;

}

.search-bar .date p {
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    width: 250px;

}
.search-bar .guest label {
    font-size: 24px;
    color: #222222;
    font-weight: 500 ;

}

.search-bar .guest p {
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    width: 250px;

}
.search-bar .btn.dark.explore-icon{
    width: 250px;
    height: 100px;
    font-size: 32px;
}
.things-need{
    height:1000px ;
}
.things-need .content {
    width: 100%;
}
.things-need .content div{
    width: 800px;
    height: 176px;
}
.things-need .content div h3{
  height: 74px;
  font-size: 64px;
}
.things-need .content div p{
    width: 700px;
    height: 74px;
    font-size: 32px;
  }
  .things-need .content img {
    width: 400px;
    height: 200px;
}
.things-need .access-cards{
    width: auto;
    height: 328px;
    gap: 200px;
    margin-top: 100px;
}
.access-cards .signup {
    width: 470px;
    height: 328px;
}.access-cards .money {
    width: 470px;
    height: 328px;
}
.access-cards .travel {
    width: 470px;
    height: 328px;
}
.access-cards .signup.bg{
    width: 470px;
    height: 328px;
}
.access-cards .signup a{
    font-size: 48px;
}
.access-cards .signup p{
    font-size: 24px;

}.access-cards .money.bg{
    width: 470px;
    height: 328px;
}
.access-cards .money a{
    font-size: 48px;
}
.access-cards .money p{
    font-size: 24px;

}
.access-cards .travel.bg{
    width: 470px;
    height: 328px;
}
.access-cards .travel a{
    font-size: 48px;
}
.access-cards .travel p{
    font-size: 24px;
}
.deals-discount{
    height: 1000px;
}
.deals-discount .content{
    height: 302px;
}
.deals-discount .content h3{
    font-size: 64px;
}
.deals-discount .content p{
    font-size: 32px;
}
.deals-discount .place-cards{
    gap: 100px;
}
.vacation-plan{
    height: 1000px;
}
.vacation-plan .content{
    height: 200px;
}
.vacation-plan .content h3{
    font-size: 64px;
    margin-bottom: 50px;
}
.vacation-plan .content p{
    font-size: 32px;
    width: 800px;
}
.vacation-plan .content img{
    height: 150px;
    width: 305px;
}
.vacation-plan .trip-cards{
    gap: 100px;
}
.testimonial-section {
    height: 1000px;
}
.testimonial-section .testimonial-block{
    height: 800px;
}
.testimonial-block .flight{
    width: 269px;
    height: 288px;
    margin-left: 1700px;
}
.testimonial-block .flight img{
    width: 269px;
    height: 288px;
}
.testimonial-block .about-card {
    height: 800px;
    width: 1400px;
    gap: 200px;
}
.testimonial-block .about-card .testimonial-left {
    width: 600px;
    height: 368px;
}
.testimonial-left h3{
    width: 600px;
    font-size: 60px;
    height: 150px;
    line-height: 80px;
}
.testimonial-left p{
    width: 600px;
    font-size: 32px;
    height: 150px;
}
.testimonial-block .about-card .testimonial-right {
    width: 600px;
    height: 668px;
}
.testimonial-right .testimonial-cards{
    width: 605px;
}
.testimonial-cards .testimonial-card-1{
    width: 605px;
}
.testimonial-cards .testimonial-card-2{
    width: 605px;
    margin-left: 50px;
}
.testimonial-cards .testimonial-card-1 .content {
    width: 555px;
    height: 100px;
    font-size: 24px;
}
.testimonial-cards .info {
    width: 600px;
    height: 100px;
    margin-top: 20px;
}

.testimonial-cards .info h3{
    font-size: 32px;
    margin-top: 10px;
    margin-left: 20px;
}
.testimonial-cards .info p{
    font-size: 24px;
    margin-top: -40px;
    margin-left: 20px;
}
.blog-section{
    height: 1000px;
}
.blog-section .content{
    height: 800px;
}
.blog-section .content h2{
    width: 1000px;
    font-size: 64px;
}
.blog-section .blogs{
    gap: 100px;
    margin-top: 150px;
}
.blog-section .content .slider{
    width: 134px;
    height: 54px;
    margin-left: 350px;
}
.slider .elipse1{
    width: 30px;
    height: 30px;
}
.slider .elipse2{
    width: 50px;
    height: 50px;
}
}